*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: hsl(200, 100%, 80%);
  display: flex;
  justify-content: center;
  place-items: center;
}

#app {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container {
  aspect-ratio: 1/1;
  max-height: 80vh;
  display: grid;
  min-height: 0;
  min-width: 0;
}

.grid-item {
  background-color: hsla(0, 100%, 100%, 0.8);
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  text-align: center;
  min-width: 0;
  overflow: hidden;
}

.reset-button {
  margin: 0 auto 20px auto;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  background-color: slategray;
  color: hsl(200, 100%, 80%);
}

.reset-button:hover {
  margin: 0 auto 20px auto;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  background-color: slategray;
  color: hsl(200, 100%, 80%);
  cursor: pointer;
  transform: scale(1.1);
}
